<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mqtt Python Example</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <h1>Enter Values:</h1>
    <form action="/" method="POST">
      <div>
        <label for="ph">pH:</label>
        <input type="text" id="ph" name="ph" />
      </div>
      <div>
        <label for="water_level">Water Level:</label>
        <input type="text" id="water_level" name="water_level" />
      </div>
      <div>
        <label for="lux">Lux:</label>
        <input type="text" id="lux" name="lux" />
      </div>
      <div>
        <label for="temperature">Temperature:</label>
        <input type="text" id="temperature" name="temperature" />
      </div>
      <div>
        <label for="humidity">Humidity:</label>
        <input type="text" id="humidity" name="humidity" />
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
